<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230236666103-9jaqh6v6on2f3g2t2e529atp92cfaf2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230236666103-9jaqh6v6on2f3g2t2e529atp92cfaf2c</string>
	<key>API_KEY</key>
	<string>AIzaSyDkDmpkAHrFNsgQuC3-2MpfMl7sBsVFssE</string>
	<key>GCM_SENDER_ID</key>
	<string>230236666103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>greencity.sustentavel.office.greencitySustentavelOffice</string>
	<key>PROJECT_ID</key>
	<string>greencity-office</string>
	<key>STORAGE_BUCKET</key>
	<string>greencity-office.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230236666103:ios:da97def310563b4fc7fbf2</string>
</dict>
</plist>